.section {
    background-color: white;
    box-shadow: 1px 1px 2px rgb(174, 169, 169);
    border-radius: 5px;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    font-size: 22px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
    border-bottom: 3px solid #eee;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    font-size: 22px;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 0;
}